$app-black: #363636;
$app-background--black: #121212;
$app--primary-color: #9147ff;
$app--color--green: #ace5cb;
$app--color--light-green: #d7ffed;
$app--color--dull-blue: rgb(182, 215, 244);
$app--color--blue: rgb(139 197 247);

// Dark Mode
$app-dark-mode--background-color: #121212;
$app-dark-mode--color: #EFEFF1;

// Light Mode
$app-light-mode--background-color: #FFFFFF;
$app-light-mode--color: #363636;

@mixin flex--all-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}